<h1>New User From</h1>

<!-- Railsy way-->

<%= form_tag( '/users' ,method: "post", local: true) do %>
    <%= label_tag(:username, "Username :") %>
    <%= text_field_tag(:username) %>

    <%= label_tag(:email, "Email :") %>
    <%= text_field_tag(:email) %>

    <%= label_tag(:password, "Password :") %>
    <%= text_field_tag(:password) %>

    <%= submit_tag "Create"%>
<% end %>


<!-- HTML form-->

<!-- 
<form method="post" action="/users" accept-charset="UTF-8">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"> 

    <label for="username">Username :</label>
    <input type="text" id="username" name="user[username]">
    
    <label for="email">Email :</label>
    <input type="email" id="email" name="user[email]">
    
    <label for="password">Password :</>
    <input type="password" id="password" name="user[password]">
    

    <input type="submit" value="Submit">

</form>
-->